<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Home</a></li>
            <li class="main-header__item"><a class="<%= path === '/admin/add-users' ? 'active' : '' %>" href="/admin/add-users">Add Users</a></li>
        </ul>
    </nav>
</header>